/* Comentário CSS */

/*Global*/
 
*{
    /*para não ter erro de padding; não extrapolar os limites
    e ficar nos 100%, ou seja, corrige propriedade padrão */    
    box-sizing: border-box;
 }


html, body {
    margin:0;
}
/* Para o footer não invadir a área do topo, utiliza-se essa configuração*/
/*CSStrix*/

body{
    display: flex;
    flex-direction: column;

    height:100vh;

    /*fonte*/
    font-family: 'Poppins', sans-serif;

    background-color: #f9f9f9;

}
h1,h2{
    color: #000000cc;
}

/* Agrupamento de: Alinhamento, espaçamento
larguras e alturas */

header, main, footer {
    text-align: center;
}

main .donors{
    /*main espaço ponto só peg o qu esá dentro do donors, não pega todo o main
    efeito cascata*/

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main h2 span{
    color: #ff4f4f;
}


/* form */ 
section.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    align-items: center;

    background-color:#ff4f4f;
    padding: 16px 64px;
    border-radius: 4px;
}


form input, 
form button{
    /*largura*/
    width: 100%;

    /*preenchimento*/
    margin-bottom: 4px;

   /*bordas*/
    border-radius: 8px;
    border: 1px solid #ffffff88;
    padding: 8px 16px;
}

form input{
    background-color: transparent;
}

form input::placeholder{
    color:#ffffffaa;
    margin: 4px;
}

form button{
    font-weight:bold;
}

header, .form, main {
    /*espaçamento com margin
    margin-bottom: 70px;

    layout centralizado na tela
    margin-right: auto;
    margin-left: auto;

    agrupando, fica assim: */
    margin: 0 auto 70px;

    /*limite dos elementos da página*/
    width:90%;
    max-width: 500px;
}

/* Aplicando efeito nos títulos header h1 e main */
header h1, main h2{
        margin-bottom: 70px;
}

/*header*/
header button{
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;

    background-color: #ff4f4f;
    color: white;

    font-weight: bold;
}

.logo{
    width:120px;
    margin: 70px 0;
}

header p {
    font-size: 14px;
}

/*form*/
.form h2 {
    text-align:right;
    color:#eee;
    font-size: 18px;

}

.blood{
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;

    display:flex;
    align-items: center;
    justify-content: center;

    position:relative;
}

.blood::before{
    content:"";
    background-color:#ff4f4f11 ;
    
    width:40px;
    height:40px;

    /*criação de outra camada */
    position:absolute;
    
    /* fazer a gotinha */
    border-radius:50px;
    border-top-right-radius: 0;

    transform:rotate(-45deg);
}

.donor p{
    margin-top: 24px;
    font-size: 14px;
}

/*footer*/

footer{
    margin-top: auto;
    padding: 16px;
    border: 1px solid#eee;
}